.radioButton {
  display: flex;
  align-items: center;

  &__input {
    display: none;

    &:checked { /*Стили для маркеров, когда input checked*/
      & + .radioButton__marker { 
        outline: 1px solid var(--blue-color);
        border-radius: 50%;
        position: relative;

        &:before {
          content: '';
          background: var(--blue-color);
          position: absolute;
          top: 4px;
          left: 4px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }

    &:disabled { 
      & ~ .radioButton__label { /*Стиль для label, если у input disabled*/
        color: var(--sky-30);
        cursor: not-allowed;
      }
    }
  }

  &__marker { /*Стиль стандартного маркера*/
    content: '';
    display: inline-block;
    cursor: pointer;
    outline: 1px solid var(--sky-60);
    border-radius: 50%;
    height: 16px;
    width: 16px;

    &_disabledOff { /*Стиль маркера, если input disabled и он НЕ checked*/
      outline: 1px solid var(--sky-50);
      opacity: 0.5;
      cursor: not-allowed;
    }

    &_disabledOn { /*Стиль маркера, если input disabled и он checked*/
      outline: 1px solid var(--blue-color);
      border-radius: 50%;
      opacity: 0.5;
      position: relative;
      cursor: not-allowed;

      &:before {
        content: '';
        background: var(--blue-color);
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
  }

  &__label { /*Стиль ярлыка*/
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    color: var(--sky-80);
    transition: color .1s ease-in-out;

    &:hover {
      color: var(--sky-100);
    }
  }

  &:hover { /*Стили маркеров при наведении на весь блок radioButton*/
    :not(input:disabled, input:checked) + .radioButton__marker { /*Стили базового маркера, если он НЕ disabled и НЕ checked*/
      outline: 1px solid var(--blue-color);
    }
  }
}