/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/import-glob-loader/index.js!./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \*********************************************************************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

html {
  font-family: 'Rubik'; }

#root {
  height: 100%; }

:root {
  --blue-color: #006EBE;
  --dark-color: #000;
  --light-color: #fff;
  --grey-color: #494949; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  padding: 25px 0; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__link {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--blue-color); }
    .header__link:hover {
      text-decoration: underline; }

.homePage {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .homePage__content {
    flex: 1 0 auto; }
  .homePage__title {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 3.75rem;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    margin-bottom: 100px; }
  .homePage__promo {
    background: linear-gradient(90deg, #0275B1 0%, #00A2B8 100%);
    border-radius: 32px;
    padding: 36px; }
    .homePage__promo p {
      color: var(--light-color);
      position: relative;
      font-weight: 500;
      font-size: 2.25rem;
      line-height: 2.75rem;
      animation: hiddenToVisible 2s ease-in-out; }

@keyframes hiddenToVisible {
  from {
    opacity: 0;
    top: 100px; }
  to {
    opacity: 1;
    top: 0; } }

.footer {
  padding: 35px 0;
  background: #e3e3e3; }
  .footer__content {
    display: flex;
    justify-content: space-between; }
  .footer__menu {
    display: flex; }
  .footer__list {
    margin-left: 100px; }
  .footer__item {
    margin-bottom: 18px; }
  .footer__link {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.32px; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__copyright {
    color: var(--grey-color);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.87rem;
    text-align: right; }
  .footer__links div {
    margin-bottom: 40px; }
  .footer__links a {
    display: inline-block;
    margin-left: 20px; }

