:root {
  --blue-color: #006EBE;
  --dark-color: #000;
  --light-color: #fff;
  --grey-color: #494949;
  --body-color: #F7F9FB;
  
  --sky-100: #1b1b1b;
  --sky-90: #323232;
  --sky-80: #494949;
  --sky-70: #606060;
  --sky-60: #767676;
  --sky-50: #8d8d8d;
  --sky-30: #bbbbbb;
}