.testPage {
  &__title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    margin-bottom: 80px;
  }

  &__content {
    background: var(--body-color);
    padding: 100px 0;
  }

  &__items {

  }
}